@mixin hidden {
  position: absolute;
  top: -99999px;
  left: -99999px;
}

$main-color: rgb(172, 206, 247);
$accent-color: rgb(199, 146, 234);
$link-color: #8cb4ff;
$text-color: #444;

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-size: 16px;
  overflow-x: clip;
}

i {
  font-style: italic;
}

:root {
  --bold-fw: 600;
}

.page {
  display: flex;
  justify-content: center;
  font-family: var(--main-font);
}

.editor-wrapper {
  width: 100%;
}

.page__inner-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.page__inner {
  width: 100%;
  max-width: 1000px;
}

.tooltip__wrapper {
  position: relative;
  display: inline-block;
  color: #fff;
  font-size: 100%;
  font-weight: var(--bold-fw);
}

.tooltip__tooltip {
  position: absolute;
  z-index: 99;
  background: $text-color;
  left: 50%;
  top: 100%;
  transform: translateX(-50%);
  display: block;
}

.tooltip__content {
  position: relative;
  background: $text-color;
  color: #fff;
  display: block;
  font-size: 0.8em;
  padding: 0.3em 1em;
}

.tooltip__content::after {
  content: attr(data-text);
}

.tooltip__arrow {
  position: absolute;
  width: 0;
  height: 0;
  left: 50%;
  margin-left: -5px;
  border-left: solid transparent 5px;
  border-right: solid transparent 5px;
  top: -5px;
  border-bottom: solid $text-color 5px;
}

.tooltip__gap {
  position: absolute;
  width: 100%;
  height: 1.25em;
  bottom: -1.25em;
}

.toolbar {
  position: sticky;
  background-color: #fff;
  top: 0;
  border-bottom: 2px solid #eee;
  padding: 0.4em 0;
  z-index: 999;
}

.toolbarIcon {
  vertical-align: middle;
  cursor: pointer;
  fill: $text-color;
  display: inline-block;
  margin: 0;
  margin-right: 0.4em;
  padding: 0.4em;
  box-sizing: initial;
  border-radius: 2px;
  z-index: 0;
  width: 1em;
  height: 1em;
}

.focusedToolbarIcon {
  background-color: #f9f9f9;
}

.activeToolbarIcon {
  fill: #000;
  background-color: #ddd;
  outline: 0;
}

.editor-wrapper {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  margin: 0;
  color: $text-color;
  background-color: #ffffff;
  font-size: 1em;
  line-height: 1.5;
  word-wrap: break-word;
}

.editor {
  $padding: 2rem;
  position: relative;
  outline: none;
  padding: $padding 0;

  &__placeholder {
    position: absolute;
    top: $padding;
    left: 0.6em;
    color: rgba(0, 0, 0, 0.3);
    cursor: text;
  }
}

.editor
  .paragraph-container--with-toplevel-padding:not(
    .editor-container
      .editor-container
      .paragraph-container--with-toplevel-padding
  ) {
  padding-left: 0.4rem;
  padding-right: 0.4rem;
}

.editor .line-numbers::selection {
  background-color: transparent;
}

.editor .inline-text {
  white-space: pre-wrap;
}

.editor *::selection {
  background-color: rgba($main-color, 0.99);
  color: inherit;
}

.editor a {
  background-color: transparent;
  color: $link-color;
  text-decoration: none;
}

.editor a:active,
.editor a:hover {
  outline-width: 0;
}

.editor b {
  font-weight: var(--bold-fw);
}

.editor h1 {
  font-weight: var(--bold-fw);
  font-size: 2em;
}

.editor sub,
.editor sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

.editor sub {
  bottom: -0.25em;
}

.editor sup {
  top: -0.5em;
}

.editor .img-container {
  display: flex;
  justify-content: center;
}

.editor [contenteditable='true'] {
  outline: none;
}

.editor .block-placeholder-br {
  display: block;
  transform: scale(0.01);
  clip-path: circle(0);
}

@mixin block-outline($x: 0.35em) {
  outline: $main-color solid $x;
}

.editor .img {
  display: block;
  border-style: none;
  max-width: 100%;
  box-sizing: content-box;
  background-color: #ffffff;

  &::selection {
    background-color: transparent;
  }

  &--selected {
    border-radius: 0.3em;
    @include block-outline;
  }
}

.editor .code-block-container {
  position: relative;
  $spacing: 0.8rem;
  border-radius: 0.3em;
  line-height: 24px;
  background-color: var(--bg-color);
  font-family: var(--code-font);

  .monaco-editor .inputarea::selection {
    background-color: transparent;
  }

  &__monaco--not-focused .monaco-editor .selected-text {
    background-color: transparent !important;
  }

  &__lang-select-container {
    font-size: 1em;
    position: absolute;
    background: $accent-color;
    top: 0;
    border-radius: 0 0 4px 4px;
    font-size: 12px;
    padding-top: 0.15 * $spacing;
    left: $spacing * 1.2;
    text-transform: uppercase;

    &::after {
      content: '';
      width: 0.8em;
      height: 0.5em;
      background-color: #fff;
      clip-path: polygon(100% 0%, 0 0%, 50% 100%);
      justify-self: end;
      position: relative;
      right: $spacing * 0.5;
    }

    display: grid;
    grid-template-areas: 'select';
    align-items: center;

    select,
    &::after {
      grid-area: select;
    }

    &__select {
      color: #fff;
      appearance: none;
      background-color: transparent;
      border: none;
      margin: 0;
      width: 100%;
      font-family: inherit;
      font-size: inherit;
      cursor: inherit;
      line-height: inherit;
      padding: 0 0.5 * $spacing;
      padding-right: $spacing * 2;
    }

    &::selection,
    & *::selection {
      background-color: transparent;
    }
  }

  &__accessibility-hidden-text {
    @include hidden;
  }

  &--selected {
    @include block-outline;
  }

  $line-number-width-offset: 4px;
  $line-number-width: calc(3em - #{$line-number-width-offset});

  &__copy-button {
    display: inline-block;
    user-select: none;
    background: #000;
    color: #fff;
    &:hover {
      background-color: $accent-color;
    }
    cursor: pointer;
    &[disabled] {
      cursor: not-allowed;
    }
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    outline: none;
    border-top-right-radius: $spacing * 0.6;
    border-bottom-left-radius: $spacing * 0.6;
    padding: $spacing * 0.6 $spacing;
  }

  &__line-number {
    display: table-cell;
    padding-right: $spacing;
    user-select: none;
    text-align: right;
    white-space: nowrap;
    color: #4c5374;
  }

  &__table {
    display: block;
    max-width: calc(100vw - 3em);
  }

  &__line-code {
    padding-left: $spacing;
    color: #bfc7d5;
    overflow-wrap: anywhere;
    white-space: pre-wrap;
  }

  & {
    position: relative;
    border-radius: 10px;
    padding: $spacing * 1.2 $spacing * 1.5;
    padding-top: $spacing * 1.25;
  }

  @media screen and (max-width: 1000px) {
    & {
      padding-left: $spacing * 0.6;
      padding-right: $spacing * 0.6;
      border-radius: 0;
    }
  }

  &__link {
    text-decoration: none;
    color: inherit;

    &__text {
      text-decoration: underline;
    }
  }
}

.editor .code-block-container section {
  display: initial !important;
  position: initial !important;
  text-align: initial !important;
}

.editor .code-block-container--loaded section {
  display: flex !important;
}

.editor .code-block-container section > div {
  display: initial !important;
  height: initial !important;
  justify-content: initial !important;
}

.editor hr {
  box-sizing: content-box;
  overflow: hidden;
  background: transparent;
  border-bottom: 1px solid hsla(210, 18%, 87%, 1);
  height: 0.25em;
  padding: 0;
  margin: 1.5em 0;
  background-color: $text-color;
  border: 0;
}

.editor a:hover {
  text-decoration: underline;
}

.editor hr::before {
  display: table;
  content: '';
}

.editor hr::after {
  display: table;
  clear: both;
  content: '';
}

.editor > .table-container {
  overflow-x: scroll;
}

.editor .block-table {
  border-spacing: 0;
  border-collapse: collapse;
  display: table;
  width: 100%;
  overflow: auto;
  overflow-wrap: anywhere;
}

.editor .block-table .block-table__td,
.editor .block-table .block-table__th {
  padding: 0;
}

.editor .block-table .block-table__td:before {
  content: '';
  display: block;
  width: 10em;
}

.editor h1,
.editor h2,
.editor h3,
.editor h4,
.editor h5,
.editor h6 {
  margin-top: 1.75em;
  margin-bottom: 0.75em;
  font-weight: var(--bold-fw);
  line-height: 1.25;
}

.editor h2 {
  font-weight: var(--bold-fw);
  font-size: 1.5em;
}

.editor h3 {
  font-weight: var(--bold-fw);
  font-size: 1.25em;
}

.editor h4 {
  font-weight: var(--bold-fw);
  font-size: 1em;
}

.editor h5 {
  font-weight: var(--bold-fw);
  font-size: 0.875em;
}

.editor h6 {
  font-weight: var(--bold-fw);
  font-size: 0.85em;
  color: #57606a;
}

.editor .code-block-container,
.editor .img-container {
  cursor: pointer;
}

.editor .code-block-container,
.editor .img-container,
.editor .table-container {
  margin-top: 2em;
  margin-bottom: 2em;
}

.editor blockquote {
  margin: 0;
  padding: 0 1em;
  color: #57606a;
  border-left: 0.2em solid $main-color;
}

.editor ::placeholder {
  color: #6e7781;
  opacity: 1;
}

.editor .editor-container > *:first-child {
  margin-top: 0 !important;
}

.editor .editor-container > *:last-child {
  margin-bottom: 0 !important;
}

.editor p,
.editor blockquote,
.editor .last-list,
.editor .last-list {
  margin-top: 0;
  margin-bottom: 1em;
}

.editor ul,
.editor ol {
  margin-top: 0;
  margin-bottom: 0;
  @for $i from 0 through 8 {
    &[data-indent='#{$i}'] {
      padding-left: #{($i + 1) * 2}em;
    }
  }
  &[data-indent='1'] {
    list-style: lower-roman;
  }
  &[data-indent='2'] {
    list-style: lower-alpha;
  }
  &[data-indent='4'] {
    list-style: lower-roman;
  }
  &[data-indent='5'] {
    list-style: lower-alpha;
  }
  &[data-indent='7'] {
    list-style: lower-roman;
  }
  &[data-indent='8'] {
    list-style: lower-alpha;
  }
}

.editor li:not(.first-last-item) {
  margin-top: 0.25em;
}

.editor .block-table {
  margin-top: 0;
  margin-bottom: 0.75;
}

.editor blockquote + blockquote {
  margin-top: -1em;
  padding-top: 1em;
}

.editor blockquote > :first-child {
  margin-top: 0;
}

.editor blockquote > :last-child {
  margin-bottom: 0;
}

.editor h1 code,
.editor h2 code,
.editor h3 code,
.editor h4 code,
.editor h5 code,
.editor h6 code {
  font-size: inherit;
}

.editor .block-table .block-table__th {
  font-weight: var(--bold-fw);
}

.editor .block-table .block-table__th,
.editor .block-table .block-table__td {
  padding: 0.6em 1em;
  border: 1px solid rgba($main-color, 0.4);
}

.editor .block-table .block-table__th.selected,
.editor .block-table .block-table__td.selected {
  border: 1px solid darken($main-color, 4%);
  background-color: $main-color;
}

.editor .block-table .block-table__tr {
  border-top: 1px solid hsla(210, 18%, 87%, 1);
}

.editor .block-table__td:not(.selected) {
  background-color: rgba($main-color, 0.005);
}

.editor .block-table .block-table__td.not-selected::selection,
.editor .block-table .block-table__td.not-selected *::selection {
  background-color: transparent;
}

.editor .inline-code {
  font-family: var(--code-font);
  padding: 0.2em 0;
  margin: 0;
  font-size: 85%;
  background-color: rgba(175, 184, 193, 0.2);
}

.editor .code-first {
  padding-left: 0.4em;
  border-top-left-radius: 0.3em;
  border-bottom-left-radius: 0.3em;
}

.editor .code-last {
  padding-right: 0.4em;
  border-top-right-radius: 0.3em;
  border-bottom-right-radius: 0.3em;
}
